################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/project/v16
/.vscode
/x64/Debug
/aaa.am
/project.sln
/project.vcxproj
/project.vcxproj.filters
/project.vcxproj.user
